.control-overlay {
    opacity: 0.75;
    transition: 0.5s ease-in-out;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.control-overlay.active {
    height: 100%;
    bottom: 0;
}

.control-overlay > .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.control-overlay > .spinner-container > i {
    animation-timing-function: ease-in-out;
}