﻿@model ManagePermissionsViewModel

<section class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <input type="hidden" id="user-id" value="@Model.User.Id" />
        <input type="hidden" id="user-fname" value="@Model.User.FirstName" />
        <input type="hidden" id="user-lname" value="@Model.User.LastName" />
        <input type="hidden" id="user-email" value="@Model.User.Email" />
        <div id="permissions-container"></div>
    </section>
</section>

@section Scripts {
    <script src="~/app/permissionsManagement.js"></script>
}