﻿@model ListViewModel

<section class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Branches</h3>
            </div>
            <div class="box-body">
                <table id="user-list" class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Users.Any())
                    {
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                var activeCls = (user.IsActive) ? "bg-green" : "bg-red";
                                var activeLbl = (user.IsActive) ? "Active" : "Inactive";
                            <tr>
                                <td>@user.FirstName @user.LastName</td>
                                <td><span class="badge @activeCls">@activeLbl</span></td>
                                <td>@user.Email</td>
                                <td>
                                    <a href=@Url.Action("Profile", new { id = user.Id }) class="btn btn-info">View</a>
                                    <form asp-action="SetActive" method="post" class="d-inline">
                                        <input type="hidden" name="Id" value="@user.Id" />
                                        @{
                                            var setCls = (user.IsActive) ? "btn-danger" : "btn-primary";
                                            var setLbl = (user.IsActive) ? "Set Inactive" : "Set Active";
                                        }
                                        <button class="btn @setCls" type="submit">@setLbl</button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </section>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
}

@section Scripts {
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#user-list").DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
        });
    </script>
}

