﻿@model UserProfileViewModel

<section class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Manage Profile</h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary()
                        <form method="post" class="form-horizontal" asp-action="Update">
                            @Html.HiddenFor(x => x.UpdateViewModel.Id)
                            <div class="form-group">
                                <label asp-for="@Model.UpdateViewModel.Email" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.UpdateViewModel.Email" class="form-control" placeholder="Email" value="@Model.UpdateViewModel.Email" />
                                </div>
                                <div class="col-md-12">
                                    <span asp-validation-for="@Model.UpdateViewModel.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.UpdateViewModel.FirstName" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.UpdateViewModel.FirstName" class="form-control" placeholder="First Name" value="@Model.UpdateViewModel.FirstName" />
                                </div>
                                <div class="col-md-12">
                                    <span asp-validation-for="@Model.UpdateViewModel.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.UpdateViewModel.LastName" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.UpdateViewModel.LastName" class="form-control" placeholder="Last Name" value="@Model.UpdateViewModel.LastName" />
                                </div>
                                <div class="col-md-12">
                                    <span asp-validation-for="@Model.UpdateViewModel.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.UpdateViewModel.PhoneNumber" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.UpdateViewModel.PhoneNumber" class="form-control" placeholder="Phone Number" value="@Model.UpdateViewModel.PhoneNumber" />
                                </div>
                                <div class="col-md-12">
                                    <span asp-validation-for="@Model.UpdateViewModel.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <a href=@Url.Action("Index") class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

