﻿@model CreateUpdateBranchViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="OnCreate" method="post" class="form-horizontal">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">New Branch</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" asp-for="Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a asp-action="Index" class="btn btn-default">Cancel</a>
                            <button class="btn btn-primary btn-flat pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

