﻿@model ListingViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Branches</h3>
            </div>
            <div class="box-body">
                <table id="branch-list" class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Active</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Branches.Any())
                    {
                        <tbody>
                            @foreach (var branch in Model.Branches)
                            {
                                var activeCls = (branch.IsActive) ? "bg-green" : "bg-red";
                                var activeLbl = (branch.IsActive) ? "Active" : "Inactive";
                                <tr>
                                    <td>@branch.Id</td>
                                    <td><span class="badge @activeCls">@activeLbl</span></td>
                                    <td>@branch.Name</td>
                                    <td>
                                        <a href="@Url.Action("Manage", new { id = branch.Id })" class="btn btn-info">View</a>
                                        <form asp-action="SetActive" method="post" class="d-inline">
                                            <input type="hidden" name="Id" value="@branch.Id" />
                                            @{ 
                                                var setCls = (branch.IsActive) ? "btn-danger" : "btn-primary";
                                                var setLbl = (branch.IsActive) ? "Set Inactive" : "Set Active";
                                            }
                                            <button class="btn @setCls" type="submit">@setLbl</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </section>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
}

@section Scripts {
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#branch-list").DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
        });
    </script>
}