﻿@model CreateUpdateBranchViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Update" method="post" class="form-horizontal">
                    @Html.HiddenFor(x => x.Id)
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Branch [@Model.Name]</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" asp-for="Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a asp-action="Index" class="btn btn-default">Cancel</a>
                            <button class="btn btn-primary btn-flat pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="b-manage-container">
        </div>
        <input type="hidden" id="branch-id" value="@Model.Id" />
    </section>
</div>

@section Scripts {
    <script src="~/app/branchManagement.js"></script>
}