﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/lib/iCheck/square/blue.css" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a>
                <b>Illuminate</b>
            </a>
        </div>
        @RenderBody()
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
