﻿@page
@model AccessDeniedModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Access denied";
}
<section class="content-wrapper">
    <section class="content">
        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </header>
    </section>
</section>
