﻿@page
@model LoginModel

@{
    Layout = "/Areas/Identity/Pages/Account/_LoginLayout.cshtml";
    ViewData["Title"] = "Log in";
}
<div class="login-box-body">
    @Html.ValidationSummary()
    <form method="post">
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label asp-for="Input.RememberMe">
                        <input type="checkbox" asp-for="Input.RememberMe"> Remember Me
                    </label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' /* optional */
        });
      });
    </script>
}
