﻿@page
@model RegisterModel
@{
    ViewData["PageTitle"] = "User Management";
}
<section class="content-wrapper">
    <section class="content-header">
        <h1 class="content-title">@ViewData["PageTitle"]</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">New User</h3>
                    </div>
                    <form method="post" class="form-horizontal">
                        <div class="box-body">
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Input.Email"></label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email" />
                                </div>
                                <span class="col-md-12 text-danger">@Html.ValidationMessageFor(x => x.Input.Email)</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Input.FirstName"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="First Name" asp-for="Input.FirstName" />
                                </div>
                                <span class="col-md-12 text-danger">@Html.ValidationMessageFor(x => x.Input.FirstName)</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" asp-for="Input.LastName"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="Last Name" asp-for="Input.LastName" />
                                </div>
                                <span class="col-md-12 text-danger">@Html.ValidationMessageFor(x => x.Input.LastName)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-2" asp-for="Input.Password"></label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" />
                                </div>
                                <span class="col-md-12 text-danger">@Html.ValidationMessageFor(x => x.Input.Password)</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-2" asp-for="Input.ConfirmPassword"></label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" />
                                </div>
                                <span class="col-md-12 text-danger">@Html.ValidationMessageFor(x => x.Input.ConfirmPassword)</span>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href=@Url.Action("Index", "User") class="btn btn-default btn-flat">Cancel</a>
                            <button type="submit" class="btn btn-primary btn-flat pull-right">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' /* optional */
        });
      });
    </script>
}
