﻿@page
@model IndexModel
@{
    ViewData["PageTitle"] = "Profile";
}
<section class="content-wrapper">
    <section class="content-header">
        <h1>@ViewData["PageTitle"]</h1>
    </section>
    <section class="content">
        @Html.Partial("_StatusMessage", Model.StatusMessage)
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Manage Profile</h3>
                    </div>
                    <div class="box-body">
                        @if(!ModelState.IsValid)
                        {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i>Error!</h4>
                            @Html.ValidationSummary()
                        </div>

                        }
                        <form id="profile-form" method="post">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.PhoneNumber"></label>
                                <input asp-for="Input.PhoneNumber" class="form-control" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
