﻿@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Illuminate.Pages.Setup.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Pages/Account/_LoginLayout.cshtml";
}

<div class="login-box-body">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.Input.Email)</span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="First Name" asp-for="Input.FirstName" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.Input.FirstName)</span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Last Name" asp-for="Input.LastName" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.Input.LastName)</span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.Input.Password)</span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.Input.ConfirmPassword)</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Register</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}

