﻿@model AppSettingsViewModel
<section class="content-wrapper">
    <section class="content-header">
        <h1>Home</h1>
    </section>
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-app" data-toggle="tab">App</a>
                </li>
                <li>
                    <a href="#tab-stocks" data-toggle="tab">Stocks</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-app">
                    app
                </div>
                <div class="tab-pane" id="tab-stocks">
                    stocks
                </div>
            </div>
        </div>
    </section>
</section>