.permission-cb, 
.permission-box {
    display: inline-block;
}

.permission-label,
.permission-desc {
    padding: 5px;
}

.permission-desc {
    opacity: 0;
    transition: 0.33s ease-in-out;
}

.permission-box:hover .permission-desc {
    opacity: 1;
}