﻿@model AppNameViewModel
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini">
    <b>@Model.NameMini</b>
</span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg">
    <b>@Model.NameLarge</b>
</span>