﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1
    </div>
    <strong>Copyright © 2018 <a href="mailto:rplansangan@gmail.com">Ralphael Lansangan</a>.</strong> All rights
    reserved.
</footer>