﻿@{ 
    var isAdmin = User.IsInRole(UserPermissions.Admin);
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@await Component.InvokeAsync("UserIdentity")</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href=@Url.Action("Index", "Home")>
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            @if (User.IsInRole(UserPermissions.ManageBranches) || isAdmin)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-building"></i>
                        <span>Branches</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @if (User.IsInRole(UserPermissions.CreateUpdateStocks) || isAdmin)
                        {
                            <li>
                                <a href=@Url.Action("Create", "Branch")>
                                    <i class="fa fa-circle-o"></i>
                                    <span>New Branch</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a href=@Url.Action("Index", "Branch")>
                                <i class="fa fa-circle-o"></i>
                                <span>All Branches</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @{
                var allowCreateStock = User.IsInRole(UserPermissions.CreateUpdateStocks);
                var allowListStocks = User.IsInRole(UserPermissions.ListAndViewStocks);
            }
            @if (allowCreateStock || allowListStocks || isAdmin)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-cubes"></i>
                        <span>Stocks</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @if (allowCreateStock || isAdmin)
                        {
                            <li>
                                <a href=@Url.Action("Create", "Stock")>
                                    <i class="fa fa-circle-o"></i>
                                    <span>New Stock</span>
                                </a>
                            </li>
                        }
                        @if (allowListStocks || isAdmin)
                        {
                            <li>
                                <a href=@Url.Action("Index", "Stock")>
                                    <i class="fa fa-circle-o"></i>
                                    <span>All Stocks</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @{
                var allowUserMgmt = User.IsInRole(UserPermissions.ManageUsers);
                var allowPermissionsMgmt = User.IsInRole(UserPermissions.ManagePermissions);
            }
            @if (allowUserMgmt || allowPermissionsMgmt || isAdmin)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @if (allowUserMgmt || isAdmin)
                        {
                            <li>
                                <a href="/Identity/Account/Register">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Register User</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "User")>
                                    <i class="fa fa-circle-o"></i>
                                    <span>All Users</span>
                                </a>
                            </li>
                        }
                        @if (allowPermissionsMgmt || isAdmin)
                        {
                            <li>
                                <a href=@Url.Action("Index", "Permissions")>
                                    <i class="fa fa-circle-o"></i>
                                    <span>Permissions</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @{ 
                var allowAppSettings = User.IsInRole(UserPermissions.EditAppSettings);
            }
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href=@Url.Action("Index", "Settings")>
                            <i class="fa fa-circle-o"></i>
                            <span>User Settings</span>
                        </a>
                    </li>
                    @if(allowAppSettings || isAdmin)
                    {
                        <li>
                            <a href=@Url.Action("Admin", "Settings")>
                                <i class="fa fa-circle-o"></i>
                                <span>App Settings</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>