﻿@model CreateUpdateStockViewModel

<section class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">New Stock</h3>
                    </div>
                    <form class="form-horizontal" asp-action="OnCreate" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Name" />
                                </div>
                                <div class="col-md-12">
                                    <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a class="btn btn-default" href=@Url.Action("Index")>Cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>