﻿@model StocksListingViewModel

<div class="content-wrapper">
    <section class="content-header">
        <h1>@Model.ContentHeader</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Stocks</h3>
            </div>
            <div class="box-body">
                <table id="branch-list" class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Stocks.Any())
                    {
                        <tbody>
                            @foreach (var stock in Model.Stocks)
                            {
                                <tr>
                                    <td>@stock.Id</td>
                                    <td>@stock.Name</td>
                                    <td>
                                        <a href="@Url.Action("View", new { id = stock.Id })" class="btn btn-info">View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </section>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css" />
}

@section Scripts {
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#branch-list").DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
        });
    </script>
}